/** Copyright 2011 Kevin Hausmann
 *
 * This file is part of Yet Another Simple Pod Catcher.
 *
 * Yet Another Simple Pod Catcher is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation, either version 3 of the License,
 * or (at your option) any later version.
 *
 * Yet Another Simple Pod Catcher is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Yet Another Simple Pod Catcher. If not, see <http://www.gnu.org/licenses/>.
 */

.header {
	height: 60px;
}
.toolbar {
	height: 60px;
}
.fullWidth {
	width: 100%;
}
.nowrap {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.highlight {
	font-weight: bold;
}
.marked {
	color: #5A5A5A;
}
.playlist {
	font-style: italic;
}
.downloaded {
	background: #C8C8C8;
}
.info {
	color: gray;
	padding: 10px;
	width: 100%;
	text-align: center;
}
.error {
	color: red;
	font-size: smaller;
	padding: 10px 10px 0px 10px;
}
.podcastImage {
	width: 82%;
	padding: 10px 20px;
	border-top: 1px solid gray;
}
.filterPicker {
	margin-left: 5px;
	margin-right: 5px;
	min-width: 130px;
}
